@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/fonts';

.container {
  width: 100%;
  color: var(--ricos-settings-text-color, #000);
  background-color: #fff;

  &:hover {
    @extend %hover;
  }

  &:active {
    @extend %active;
  }

  &.selected {
    @extend %active;
    color: var(--ricos-settings-text-color, $action-color-fallback);
  }

  @include phone {
    height: 47px;
  }

  .content {
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    height: 40px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content auto max-content;
    grid-gap: 12px;
    .prefix {
      align-self: left;
    }

    .titleWrapper {
      display: grid;
      grid-auto-flow: row;

      .title {
        font-size: 14px;
      }

      .subtitle {
        font-size: 12px;
        color: $secondary-text-color;
      }
    }

    .suffix {
      align-self: right;
    }
  }
}

%active {
  background-color: rgba($settings-action-color-fallback-tuple, 0.1);
  color: var(--ricos-settings-action-color, $action-color-fallback);
  svg {
    @include fillWithSettingsActionColor;
  }
}

%hover {
  cursor: pointer;
  background-color: rgba(var(--ricos-settings-action-color-tuple, $fallbackColorTuple), 0.05);
}
