@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/fonts';

.panel_Container {
  border: solid 1px #ededed;
  box-shadow: $settings-whitebox-box-shadow;
  border-radius: $settings-whitebox-border-radius;
  svg {
    height: unset;
    width: unset;
  }
}
