@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.tableAddRow,
.tableAddCol {
  background-color: rgba($primary-text-color-tuple, 0.1);
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;

  &:hover:not(.disabled) {
    color: $settings-action-color;
    background-color: rgba($settings-action-color-tuple, 0.2);
  }
}

.tableAddRow {
  height: 20px;
  left: -20px;
  bottom: -20px;
  width: calc(100% + 20px);
  border-bottom: 1px solid #c7c3c3;
  border-left: 1px solid #c7c3c3;
  border-top: 1px solid #c7c3c3;
}

.tableAddCol {
  height: calc(100% + 40px);
  right: -20px;
  top: -20px;
  width: 20px;
  border: 1px solid rgb(199, 195, 195);
}
